<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
</head>
<body>
<h2>결제 성공(라고 토스가 말하지만, 사실 여기는 결제 성공이 확정된 게 아니라, confirm진행 전 시점이다. 결제 성공은 confirm이 완료되고 난 뒤에 판단한다. 왜냐하면 재고 오류나 재고서버 다운이나 pending등 다른 오류가 날 수 있음. 그래서 결제 진행중이라고 해야한다. 완료되면 결제완료 창을 따로 띄우자)</h2>
<p id="paymentKey"></p>
<p id="orderId"></p>
<p id="amount"></p>

<script>
    // 쿼리 파라미터 값이 결제 요청할 때 보낸 데이터와 동일한지 반드시 확인하세요.
    // 클라이언트에서 결제 금액을 조작하는 행위를 방지할 수 있습니다.
    const urlParams = new URLSearchParams(window.location.search);
    const paymentKey = urlParams.get("paymentKey");
    const orderId = urlParams.get("orderId");
    const amount = urlParams.get("amount");

    async function confirm() {
      const requestData = {
        paymentKey: paymentKey,
        orderId: orderId,
        amount: amount,
      };

      const response = await fetch("/api/confirm", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(requestData),
      });

      const json = await response.json();

      if (!response.ok) {
        // 결제 실패 비즈니스 로직을 구현하세요.

        // **내 예상으론 cancelReserve를 여기서 진행하면 될 것이다.
        // **참고로 여기는 결제 실패가 아님. 결제정보를 통해 결제는 성공했는데 confirm이 모종의 이유로 실패한 것임.
        // **즉 fail.html로 리다이렉팅하는 것과는 다른 이유에서 진행된다는 것이다. 이 점 명확하게 이해해야함.
        // **fail.html로 진행된 order는 사용자가 재시도하던가, 아니면 15분 후에 자동취소하면 된다.

        console.log(json);
        window.location.href = `/fail?message=${json.message}&code=${json.code}`;
      }

      // 결제 성공 비즈니스 로직을 구현하세요.
      console.log(json);
    }
    confirm();

    const paymentKeyElement = document.getElementById("paymentKey");
    const orderIdElement = document.getElementById("orderId");
    const amountElement = document.getElementById("amount");

    orderIdElement.textContent = "주문번호: " + orderId;
    amountElement.textContent = "결제 금액: " + amount;
    paymentKeyElement.textContent = "paymentKey: " + paymentKey;
</script>
</body>
</html>